@import '../input/Button.css';

.RightNavbar {
    /* background-color: aqua;    */
}


.btnGroup {
    /* background-color: lavender; */
    /* border: 1px darkblue solid; */
}



.btnGroup > * {
    margin: 12px auto;
    width: 100%;
    display: block;
    
}